<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CRUD Node.js and Mysql</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h2>Kategori List</h2>
    <button class="btn btn-success mb-2" data-toggle="modal" data-target="#myModalAddKategori">Add Kategori</button>
    <table class="table table-striped" id="mytablekategori">
      <thead>
        <tr>
          <th>ID Kategori</th>
          <th>Kategori</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr>
          <td>{{id_kategori}}</td>
          <td>{{nama_kategori}}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id-kategori="{{ id_kategori }}"
              data-nama-kategori="{{ nama_kategori }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete"
              data-id-kategori="{{ id_kategori }}">Delete</a>
          </td>

        </tr>
        {{/each}}
      </tbody>
    </table>


  </div>

  <!-- Modal Add Kategori-->
  <form action="/save_kategori" method="post">
    <div class="modal fade" id="myModalAddKategori" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Kategori</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <input type="text" name="nama_kategori" class="form-control" placeholder="kategori" required>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Update Kategori-->
  <form action="/update_kategori" method="post">
    <div class="modal fade" id="EditModalKategori" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Kategori</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" name="id_kategori" class="id_edit_kategori">
              <input type="text" name="nama_kategori" class="form-control kategori_edit" placeholder="Kategori"
                required>
            </div>

          </div>
          <div class="modal-footer">
            {{!-- <input type="hidden" name="id" class="id"> --}}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- Modal Delete Produk-->

  <form id="add-row-form" action="/delete_kategori" method="post">
    <div class="modal fade" id="DeleteModalKategori" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <strong>Anda yakin mau menghapus data ini?</strong>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id_kategori" class="form-control id3" required>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  {{!--
  <script src="/assets/js/jquery-3.3.1.js"></script>
  <script src="/assets/js/bootstrap.js"></script> --}}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      //tampilkan data ke modal untuk edit
      $('#mytablekategori').on('click', '.edit', function () {
        var id_kategori = $(this).data('id-kategori');
        var nama_kategori = $(this).data('nama-kategori');
       
        $('#EditModalKategori').modal('show');
        $('.id_edit_kategori').val(id_kategori);
        $('.kategori_edit').val(nama_kategori);

      });

      //tampilkan modal hapus record
      $('#mytablekategori').on('click', '.delete', function () {
        var id_kategori = $(this).data('id-kategori');

        $('#DeleteModalKategori').modal('show');
        $('.id3').val(id_kategori);

      });

    });
  </script>
</body>

</html>